* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 84, 84);
  font-family: sans-serif;
}

input,
button {
  border: none;
  outline: none;
}